<div>
    <h2 id="page-heading">
        <span>Income Captures</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-income-capture" [routerLink]="['/income-capture/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Income Capture
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="incomeCaptures">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Sales Code</span></th>
            <th><span>Document Date</span></th>
            <th><span>Customer Name</span></th>
            <th><span>Customer Email</span></th>
            <th><span>Customer Mobile</span></th>
            <th><span>Customer Address</span></th>
            <th><span>Date Uploaded</span></th>
            <th><span>Branch</span></th>
            <th><span>Income Category</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let incomeCapture of incomeCaptures ;trackBy: trackId">
                <td><a [routerLink]="['/income-capture', incomeCapture.id, 'view' ]">{{incomeCapture.id}}</a></td>
                <td>{{incomeCapture.salesCode}}</td>
                <td>{{incomeCapture.documentDate | date:'medium'}}</td>
                <td>{{incomeCapture.customerName}}</td>
                <td>{{incomeCapture.customerEmail}}</td>
                <td>{{incomeCapture.customerMobile}}</td>
                <td>{{incomeCapture.customerAddress}}</td>
                <td>{{incomeCapture.dateUploaded | date:'medium'}}</td>
                <td>
                    <div *ngIf="incomeCapture.branch">
                        <a [routerLink]="['../branch', incomeCapture.branch?.id, 'view' ]" >{{incomeCapture.branch?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="incomeCapture.incomeCategory">
                        <a [routerLink]="['../income-category', incomeCapture.incomeCategory?.id, 'view' ]" >{{incomeCapture.incomeCategory?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/income-capture', incomeCapture.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/income-capture', incomeCapture.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'income-capture', { outlets: { popup: incomeCapture.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
