<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="incomeDetails">
            <h2><span>Income Details</span> {{incomeDetails.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Item Description</span></dt>
                <dd>
                    <span>{{incomeDetails.itemDescription}}</span>
                </dd>
                <dt><span>Unit Price</span></dt>
                <dd>
                    <span>{{incomeDetails.unitPrice}}</span>
                </dd>
                <dt><span>Quantity</span></dt>
                <dd>
                    <span>{{incomeDetails.quantity}}</span>
                </dd>
                <dt><span>Total Vat</span></dt>
                <dd>
                    <span>{{incomeDetails.totalVat}}</span>
                </dd>
                <dt><span>Total Price</span></dt>
                <dd>
                    <span>{{incomeDetails.totalPrice}}</span>
                </dd>
                <dt><span>Income Capture</span></dt>
                <dd>
                    <div *ngIf="incomeDetails.incomeCapture">
                        <a [routerLink]="['/income-capture', incomeDetails.incomeCapture?.id, 'view']">{{incomeDetails.incomeCapture?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/income-details', incomeDetails.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
